In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

In [2]:
df = pd.read_csv(r'Downloads\teleCust1000t (1).csv')

In [4]:
df

,region,tenure,age,marital,address,income,ed,employ,retire,gender,reside,custcat
0,2,13,44,1,9,64.0,4,5,0.0,0,2,1
1,3,11,33,1,7,136.0,5,5,0.0,0,6,4
2,3,68,52,1,24,116.0,1,29,0.0,1,2,3
3,2,33,33,0,12,33.0,2,0,0.0,1,1,1
4,2,23,30,1,9,30.0,1,2,0.0,0,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,10,39,0,0,27.0,3,0,0.0,1,3,1
996,1,7,34,0,2,22.0,5,5,0.0,1,1,1
997,3,67,59,0,40,944.0,5,33,0.0,1,1,4
998,3,70,49,0,18,87.0,2,22,0.0,1,1,3
999,3,50,36,1,7,39.0,3,3,0.0,1,3,2

In [5]:
X = df.drop(['custcat'] , axis = 'columns')

In [6]:
y = df['custcat']

In [9]:
from sklearn.model_selection import train_test_split
x_train , x_test, y_train , y_test = train_test_split(X,y,test_size = 0.2)

In [12]:
knn = KNeighborsClassifier(n_neighbors = 4)

In [13]:
knn.fit(x_train , y_train)

KNeighborsClassifier(n_neighbors=4)

In [14]:
pred = knn.predict(x_train)

In [15]:
pred

array([1, 1, 3, 1, 4, 2, 1, 1, 3, 1, 1, 1, 3, 1, 1, 1, 4, 4, 2, 1, 3, 1,
       1, 1, 1, 3, 1, 4, 1, 4, 3, 1, 1, 1, 1, 3, 3, 1, 4, 4, 3, 3, 1, 2,
       1, 3, 2, 4, 3, 4, 1, 1, 3, 3, 4, 2, 1, 3, 3, 2, 4, 1, 2, 3, 3, 1,
       2, 3, 1, 2, 1, 1, 1, 3, 2, 2, 1, 3, 4, 2, 2, 2, 3, 4, 2, 3, 1, 1,
       3, 1, 2, 1, 1, 1, 1, 1, 4, 1, 4, 1, 4, 3, 1, 4, 1, 4, 4, 3, 2, 3,
       1, 2, 3, 4, 2, 1, 2, 3, 3, 3, 3, 1, 1, 2, 1, 1, 2, 2, 1, 4, 1, 3,
       1, 1, 1, 1, 3, 3, 2, 2, 3, 3, 1, 4, 1, 1, 1, 3, 1, 4, 3, 3, 1, 1,
       2, 4, 4, 1, 3, 4, 4, 1, 4, 3, 1, 1, 3, 2, 4, 1, 1, 1, 1, 1, 1, 1,
       4, 1, 1, 4, 4, 1, 1, 3, 1, 4, 3, 3, 4, 2, 1, 2, 1, 1, 3, 3, 2, 1,
       2, 3, 1, 3, 3, 2, 2, 1, 2, 2, 2, 4, 1, 1, 1, 1, 1, 2, 3, 1, 2, 3,
       4, 4, 3, 1, 1, 4, 2, 1, 1, 2, 4, 1, 2, 2, 4, 1, 1, 1, 1, 4, 3, 1,
       1, 2, 1, 1, 3, 2, 1, 2, 1, 1, 4, 1, 3, 1, 1, 1, 1, 1, 3, 2, 2, 1,
       1, 4, 1, 1, 1, 1, 4, 4, 3, 1, 1, 3, 2, 3, 3, 3, 3, 4, 1, 1, 1, 1,
       3, 2, 3, 3, 4, 1, 1, 1, 1, 2, 1, 4, 2, 3, 1, 1, 1, 1, 1, 2, 3, 2,
       3, 2, 2, 1, 1, 3, 2, 3, 3, 1, 4, 1, 3, 2, 3, 3, 1, 1, 1, 1, 1, 1,
       3, 1, 1, 4, 2, 1, 1, 3, 3, 3, 1, 1, 1, 4, 1, 2, 3, 2, 1, 4, 1, 3,
       3, 1, 3, 1, 2, 1, 1, 3, 1, 4, 1, 1, 1, 1, 2, 3, 1, 4, 1, 2, 3, 1,
       2, 3, 3, 1, 1, 1, 1, 4, 1, 4, 2, 3, 1, 2, 2, 2, 1, 4, 3, 3, 3, 1,
       2, 3, 1, 2, 4, 4, 1, 4, 2, 1, 4, 3, 1, 1, 4, 1, 3, 2, 4, 2, 1, 4,
       4, 1, 2, 1, 4, 1, 2, 1, 1, 1, 2, 4, 2, 4, 3, 2, 3, 3, 1, 2, 3, 1,
       2, 4, 4, 3, 3, 1, 3, 1, 2, 1, 3, 2, 1, 1, 2, 2, 1, 1, 2, 3, 4, 3,
       1, 1, 3, 4, 1, 1, 3, 1, 1, 2, 3, 1, 1, 3, 3, 3, 1, 3, 1, 1, 2, 1,
       3, 2, 1, 3, 1, 4, 3, 2, 2, 3, 2, 3, 4, 1, 3, 1, 1, 2, 2, 2, 4, 2,
       2, 2, 2, 1, 3, 3, 3, 3, 3, 4, 4, 2, 1, 1, 1, 2, 2, 2, 3, 4, 1, 1,
       1, 1, 2, 2, 2, 1, 2, 2, 3, 1, 3, 1, 2, 1, 1, 3, 1, 2, 4, 1, 2, 3,
       3, 3, 1, 4, 1, 1, 4, 3, 4, 2, 1, 1, 1, 3, 3, 1, 1, 2, 3, 4, 1, 3,
       2, 4, 3, 4, 1, 3, 1, 3, 2, 4, 1, 2, 1, 4, 1, 3, 1, 1, 1, 3, 4, 1,
       1, 2, 1, 1, 1, 2, 4, 1, 4, 3, 4, 1, 1, 2, 1, 2, 3, 3, 1, 4, 1, 3,
       1, 3, 2, 3, 2, 4, 4, 1, 3, 1, 1, 3, 1, 2, 2, 2, 2, 2, 2, 1, 1, 3,
       1, 1, 4, 2, 1, 2, 2, 1, 4, 3, 1, 2, 1, 3, 1, 1, 1, 2, 1, 1, 2, 3,
       1, 1, 2, 4, 3, 2, 4, 2, 4, 4, 3, 1, 1, 4, 3, 3, 3, 1, 1, 3, 3, 1,
       1, 2, 1, 1, 3, 2, 4, 1, 3, 1, 3, 3, 1, 3, 4, 1, 4, 4, 3, 2, 4, 1,
       2, 3, 4, 4, 3, 2, 1, 2, 4, 2, 1, 3, 3, 2, 4, 3, 1, 1, 1, 2, 3, 1,
       2, 3, 1, 2, 1, 1, 2, 1, 2, 4, 1, 1, 2, 1, 2, 3, 1, 1, 4, 1, 1, 1,
       3, 2, 1, 1, 1, 3, 1, 1, 1, 3, 1, 3, 3, 2, 1, 1, 2, 4, 2, 2, 1, 4,
       3, 2, 2, 3, 3, 1, 4, 1, 2, 3, 3, 1, 3, 2, 1, 4, 3, 2, 3, 1, 1, 2,
       3, 3, 4, 2, 1, 1, 2, 1], dtype=int64)

In [16]:
print('3' * 5)

33333